version = 0.26.1-90-gf959752
profile = conventional
break-separators = before
dock-collection-brackets = false
break-infix = fit-or-vertical
# cases-exp-indent = 2
if-then-else = keyword-first
margin = 88
type-decl = sparse
# break-colon = before
